body {
    height: 700px;
    width: 700px;
    margin: auto;
}
.c {
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    width: 600px;
}
.c__score {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    height: 450px;
    width: 300px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
}
.c__score-circle {
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 200px;
    width: 200px;
    display: inline-block;
}
.c__score-circle-lg-number {
    font-size: 70px;
    font-weight: 900;
    margin-top: 45px;
    margin-bottom: 0px;
}
.c__score-circle-great {
    font-size: 30px;
    font-weight: 600;
}
.score .lighter {
    color: rgba(0, 0, 0, 0.4)
}
.evenlighter {
    color: rgba(78, 33, 202, 1);
    margin-top: 0px
}
.summary__title-text {
    width: 300px;
}
.summary__blocks {
    display: inline-block;
    width: 250px;
    align-items:center;
    justify-content: space-between;
    border-radius: 15px;;

}
.reaction {
    background-color: rgba(255, 255, 0, 0.1);
    color: hsl(0, 100%, 67%);
}
.memory {
    background-color: rgba(255, 255, 0, 0.1);
    color: hsl(39, 100%, 56%);
}
.verbal {
    color: hsl(166, 100%, 37%);
}
.visual {
    background-color: rgba(200, 199, 255, 0.2);
    color: hsl(234, 85%, 45%);

}
.btn {
    margin-top: 80px;
    margin-left: 20px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 250px;
    height: 50px;
    background-color:hsl(224, 30%, 27%)
}
p {
    font-size: 18px;
}
svg {
    display: inline;
}
.summary__names {
    display: inline;
    width: 40px;
    height: 20px;
}
.sum-num  {
    width: 100px;
    margin: 0;
    color: black;
    font-weight: 500;
    display: inline;
}
.asd {
    width: 60px;
    margin-right: 0px;
}